/*
COLORS

  beige (muted):
  color: #86837a;

  dark green (headings):
  color: #28393a;

  bold green (main slide content):
  color: #286762;

  teal:
  color: #7bc3c7;

  orange:
  color: #D44314;
*/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1.5em;
  color: #286762;
}

body {
  font-family: Georgia, "Lucida Grande","Lucida Sans Unicode", Helvetica, verdana, arial, sans-serif;
  background-color: #f4f3eb;
}

a { color: #000; }
a img { border-width: 0; }


.js .js-hide {
  display: none;
}

.js-show {
  display: none;
}
.js .js-show {
  display: block;
}
/** =slides
************************************************************/
.slideshow .slide { border-width: 0; }
#loading-slide { display: block; z-index: 1001; background-color: #f4f3eb; }

.slide {
  position: relative;
}
.js .slide {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  background: #f4f3eb url(../images/bg-body.png) repeat-x 0 0;
}

.js .js-show {
  display: block;
}


body.up {
  font-size: 1em;
}
.js .up-4 {
  display: block;
  width: 47%;
  height: 48%;
  float: left;
  position: relative;
  margin-right: 1%;
  font-size: 1em;
}

#logo {
  background: url(../images/jquery-logo.png) no-repeat 100% 16px;
  width: 220px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
  overflow: hidden;
  text-indent: -9000em;
}
h1 {
  margin: 0;
  border-top: 8px solid #008c7e;
  padding: .3em .5em;
  font-size: 2em;
  font-weight: normal;
  color: #28393a;
  font-family: "Verlag Condensed", "Abadi MT Condensed", "Futura Std Light Condensed", "Futura Condensed", "Gill Sans", "Arial Narrow", Arial, "Trebuchet MS", Georgia, sans-serif;
}
.slide h2 {
  font-weight: normal;
  margin: .5em 0;
  font-size: 1.5em;
  padding-left: .667em;
}

.slide p {
  padding-left: 1em;
  margin: 0 0 .75em;
}
.slide ul {
  margin: 0;
  padding: 0 0 0 1em;
}


.slide li {
  margin: 0.5em;
  padding: 0 0.5em;
  line-height: 1.25em;
}

.right-panel {
  position: absolute;
  bottom: 1em;
  right: .5em;
}

.intro {
  text-align: center;
}

/* steps */
.js .step { visibility: hidden; }
.js .step-off .step,
.js .step-done { visibility: visible; }

.js .step .right-panel {
  display: none;
}
.js .step-done .right-panel {
  display: block;
}

/* horizontal lists */
ul.horiz {list-style-type: none; padding: 0; }
.horiz li {float: left; margin-top: 0; margin-left: 0; padding-left: 0; }
li.third { width: 28%; margin-right: 2%; }
li.last { margin-right: 0; }

.slide .pad { padding-left: 1em;}

/* feature / dropshadow*/
.feature-wrapper {
  background: url(../images/bg-feature-wrapper.png) no-repeat 100% 0;
  margin-top: -20px;
  padding-right: 20px;
}
.feature {
  min-height: 250px;
  background: url(../images/bg-feature.png) no-repeat 0 0;
  padding: 25px 0 10px 20px;
}
.dashed {
  padding-top: 12px;
  background:  url(../images/dashes.png) repeat-x 0 0;
}

.slide .xl { font-size: 220px; }
.slide .muted { color: #86837a; }
.slide .blended { color: #f4f3eb; }
.slide .note { padding: 1em 2.5em 0; font-size: .4em; }

div.rec-plugins a { color: #86837a; }

/** =demos / examples
************************************************************/
.demo {
/*  background-color: #fff;*/
  font-size: .8em;
  color: #000;
}
div.demo { display: none; }
.js .demo { display: block; }
form.feature .demo {padding: 1em;}
.demo ul {
  list-style-type: none;
}
.demo li {
  margin: .25em 0;
  padding: 0;
}
input {
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 1.5em;
}
input[type=text] {
  width: 400px;
}



button {
  display:-moz-inline-stack; /* Firefox needs this to simulate display:inline-block */
  display:inline-block;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 0 16px 0 0;
  text-align: center;
  font-size: 20px;
  background: none;
  position: relative;
  overflow: visible;
}

* html button {
  zoom: 1;
  display: inline;
}

button span {
  position: relative;
  display: block;
  white-space: nowrap;
  padding: 0 0 0 16px;
  height: 42px;
  line-height: 40px;
  color: #fff;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* Safari and Google Chrome only - fix margins */
  button span {
    margin-top: -1px;
    left: 3px;
  }
}
/* removes 1px border in FF */
button::-moz-focus-inner { border: none; padding: 0;}

/* using a sprite instead of four separate images... */
button,
button span {
  background-image: url(../images/buttons-big.png);
  background-repeat: no-repeat;
}
button {background-position:  100% 0;}
button span { background-position: 0 -50px; }
button:hover,
button:focus { background-position: 100% -100px; }
button:hover span,
button:focus span { background-position: 0 -150px; }
button:active { background-position: 100% -200px; }
button:active span { background-position: 0 -250px; }
button:active{
  top:1px;
}

table {
  margin: .5em 0 .5em 1em;
}
th, td {
  padding: 2px 4px;
  border-collapse: collapse;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .8em;
  border: 1px solid #999;
}
tr.alt th,
tr.alt td {
  background-color: #faa;
}
div.sample .found { outline: 3px solid #f00; }
div.sample { width: 30%; float: left; }
div.sample h2 { font-weight: bold; }

ul.menu { display:none;margin:0;padding:0; }
ul.menu li { margin: 0; }
div.block { margin-left: 36px; width: 100px; height: 100px; background: #f00; }
div.load { margin-left: 36px; }

li.special { border: 1px solid #D44314; }

/** =code samples (code highlighting is in recipes.css)
************************************************************/
pre,
div.code {
  font-family: Monaco, "Andale Mono", "Courier", "Courier New";
  margin: 0 .5em;
  padding: 0.5em;
  font-size: 0.8em;
  max-height: 450px;
}
pre { overflow: auto; }
div.code {
  line-height: 1;
}
pre.javascript {
/*  border: 1px solid #aaa;*/
  background-color: #fff;
  color: #222;
}
.js .resizable .feature-wrapper,
.js .resizable .feature {
  background-image: none;
}

div.prewrap {
  background-color: transparent;
}

.prewrap pre .ui-resizable-s {
  bottom: 10px;
}
.prewrap pre .ui-resizable-e {
  right: 10px;
}

pre.stocky {
  width: 50%;
  float: left;
}
.shrink {
  font-size: .55em;
}
p.shrink {
 padding-left: 1.818em;
}
.grow {
  font-size: 1.8em;
}

pre .found > span { color: red; }
pre.stocky * { margin: 0; padding: 0; font-weight: normal; display: inline; white-space: pre; font-size: 1em; }

#html pre {
  font-size: .7em;
}


/** =table of contents
************************************************************/
/* with Select */
/*
.toc {
  position: fixed;
  right: 12px;
  bottom: 4px;
  width: 220px;
}
.toc select { width: 200px;}
*/

/* with list links */
.toc {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 96%;
  padding: 0 2%;
}
.toc ul {
  list-style-type: none;
  margin: 0;
  position: relative;
  bottom: 0;
}
.toc li {
  float: left;
  margin-right: 2px;
}
.toc a {
  color: #86837a;
  font-size: 11px;
  display: block;
  width: 20px;
  height: 16px;
  line-height: 14px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #86837a;
  margin-bottom: 3px;
}
.toc a:hover {
  background-color: #d44314;
  color: #fff;
}
.toc a.ui-state-active {
  background: #28393a;
  color: #fff;
}

.toc span.indicator {
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.dog {
  position: fixed;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 100px;
  z-index: 1002;
  background-color: #28393a;
  color: #fff;
  text-align: center;
}
.tail {
  background-color: burlyWood;
  width: 100px; 
}

blink { cursor: pointer; }
.step-off .step { display: block; }

#dwrapper,
#ddiv,
#ddiv span {
  margin-top: 10px;
  margin-left: 20%; 
  width: 60%;
  padding: 10px;
  border: 1px solid #999;
}

.log {
  padding: 1em 0;
}
.demo {
  padding-left: 2em;
}
.demodiv {
  display: none;
  height: 55px;
  width: 55px;
  line-height: 50px;
  background-color: #d44314;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: #fff;
  text-align: center;
}
.col {
  float: left;
  margin-right: 2%;
  min-height: 20px;
}
ul.col-half,
div.col-half {
  width: 45%;
}
ul.col-third,
div.col-third {
  width: 28%;
}
.col-third .demodiv {width: 100%;}

div.col-fourth {
  width: 22%;
}

div.alt {
  background-color: #286762;
}
#easing_demo .demodiv {
  height: 380px;
}
.fx-interval .demodiv {
  height: 200px;
}

.demowide {
  width: 260px;
  cursor: pointer;
}

.clear {clear: both;}

/** =group (clearfix)
************************************************************
@see  http://www.positioniseverything.net/easyclearing.html
************************************************************/
.group:after,
.demo:after { content: "."; display: block; font-size: 0; height: 0; clear: both; visibility: hidden; }
.group,
.demo { display: inline-block; }
* html .group,
* html .demo { height: 1%; }

.group,
.demo { display: block; }

/** =override for themeroller
************************************************************/
h1.ui-widget-header {border-top-width: 0; padding: 0 .5em;}
.slide .ui-widget-content { margin: .8em; padding: 1em; }
.slide .ui-widget-content .ui-widget-content { margin: .3em 0; padding: .3em;}
.ui-state-default span { background-image: none; height: auto; line-height: 1;}