<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Filters - Oct 2014</title>
    <script>
    document.documentElement.className = 'js';
    </script>

    <link rel="stylesheet" href="styles/jquery.present.css" media="screen, projection" />
    <link rel="stylesheet" href="styles/style.css" media="screen, projection" />
    <link rel="stylesheet" href="styles/jquery-ui.css" media="screen, projection" />
    <link rel="stylesheet" href="styles/recipes.css" media="all" />

    <script src="scripts/LAB.min.js"></script>
    <script src="scripts/init.js"></script>
</head>

<body class="slideshow">
    <div id="welcome" class="slide intro">
        <h1>Angular Directive</h1>
        <p>Help you to create re-usable components
        </p>
    </div>

    <div id="whoami" class="slide">
        <h1>Hemant Kumar Singh</h1>
        <ul>
            <li class="step">Email:
                <span class="mailto:hemant.ajax@gmail.com">hemant.ajax@gmail.com</span>
            </li>
            <li class="step">Twitter: <a href="http://twitter.com/hemantajax">@hemantajax</a>
            </li>
            <li class="step">Web Developer, <a href="http://www.hkajax.wordpress.com/blog">My Blog</a>
            </li>
            <li class="step">Creator of UXM Presentation, <a href="http://uxm.herokuapp.com/">Angular JS Presentation</a>
            </li>
        </ul>
    </div>
    <div id="create-directive" class="slide">
        <h1>Create Directive</h1>
        <pre class="javascript">
angular.module('myApp')
    .directive("socialIcons", function(){
        return {
            restrict: "EA",
            template: '<a href="http://google.com">Google</a>'
        };
    });
</pre>

        <h2>Using Directive</h2>
        <pre class="javascript">
        &lt;social-icons&gt;&lt;/social-icons&gt;
</pre>

    </div>
    <div id="directive-scope" class="slide">
        <h1>Directive scope - creating a new child scope in the DOM</h1>
        <pre class="javascript">
&lt;p&gt;We can access: {{ rootProperty }}&lt;/p&gt;
&lt;div ng-controller=&quot;ParentController&quot;&gt;
    &lt;p&gt;We can access: {{ rootProperty }} and {{ parentProperty }}&lt;/p&gt;
    &lt;div ng-controller=&quot;ChildController&quot;&gt;
        &lt;p&gt;
            We can access: 
            {{ rootProperty }} 
            and {{ parentProperty }} 
            and {{ childProperty }}
        &lt;/p&gt;
        &lt;p&gt;{{ fullSentenceFromChild }}&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>

    </div>

    <div id="use-controller-scope" class="slide">
        <h1>Passing data to directive</h1>
        <h2>
            Using Parent controller scope
        </h2>
        <pre class="javascript">
angular.module('myApp', [])
    .controller("TestCtrl", function($scope){
        $scope.linkHref = "http://yahoo.com";
        $scope.linkText = "Yahoo";
    })
    .directive("socialIcons", function(){
        return {
            restrict: "EA",
            template: '<a href="{{ linkHref }}">{{ linkText }}</a>'
        };
    });
</pre>

<pre class="javascript">
&#x3C;div ng-controller=&#x22;TestCtrl&#x22;&#x3E;
    &#x3C;social-icons&#x3E;&#x3C;/social-icons&#x3E;   
&#x3C;/div&#x3E;     
</pre>


    </div>


    <div id="passing-data-to-directive" class="slide">
        <h1>Passing data to directive using attributes ( Isolated Scope )</h1>
        <pre class="javascript">
&#x3C;div ng-controller=&#x22;TestCtrl&#x22;&#x3E;
    &#x3C;social-icons link-href=&#x22;http://yahoo.com&#x22; link-text=&#x22;Yahoo&#x22;&#x3E; &#x3C;/social-icons&#x3E;
&#x3C;/div&#x3E;  
</pre>

<pre class="javascript">
angular.module('myApp', [])
    .directive("socialIcons", function(){
        return {
            restrict: "EA",
            scope:{
                linkHref: "@",
                linkText: "@"
            },
            template: '<a href="{{ linkHref }}">{{ linkText }}</a>'
        };
    });    
</pre>



    </div>


    <div id="passing-data-to-directive" class="slide">
        <h1>Passing data to directive using attributes ( Isolated Scope )</h1>
        <pre class="javascript">
&#x3C;div ng-controller=&#x22;TestCtrl&#x22;&#x3E;
    &#x3C;social-icons link-href=&#x22;http://yahoo.com&#x22; link-text=&#x22;Yahoo&#x22;&#x3E;&#x3C;/social-icons&#x3E;
&#x3C;/div&#x3E;  
</pre>

<pre class="javascript">
angular.module('myApp', [])
    .directive("socialIcons", function(){
        return {
            restrict: "EA",
            scope:{
                linkHref: "@",
                linkText: "@"
            },
            template: '<a href="{{ linkHref }}">{{ linkText }}</a>'
        };
    });    
</pre>
    </div>


    <!-- LAST SLIDE -->
    <div id="the_end" class="slide">
        <h1>The End</h1>
        <p>Thanks for listening!</p>
        <p>Any questions?</p>
        <div class="step">
            <p>Check out the presentation again at <a href="http://uxm.herokuapp.comannarbor/">http://uxm.herokuapp.com</a>
            </p>
            <p>Contact:</p>
            <ul>
                <li class="mailto:hemant.ajax@gmail.com">hemant.ajax@gmail.com</li>
                <li><a href="https://twitter.com/hemantajax">@hemantajax</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
