<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Filters - Oct 2014</title>
    <script>
    document.documentElement.className = 'js';
    </script>

    <link rel="stylesheet" href="styles/jquery.present.css" media="screen, projection" />
    <link rel="stylesheet" href="styles/style.css" media="screen, projection" />
    <link rel="stylesheet" href="styles/jquery-ui.css" media="screen, projection" />
    <link rel="stylesheet" href="styles/recipes.css" media="all" />

    <script src="scripts/LAB.min.js"></script>
    <script src="scripts/init.js"></script>
</head>

<body class="slideshow">
    <div id="welcome" class="slide intro">
        <h1>Angular JS Filters</h1>
        <p>Filter provides a way to format the data we display to the user.
        </p>
    </div>

    <div id="whoami" class="slide">
        <h1>Hemant Kumar Singh</h1>
        <ul>
            <li class="step">Email:
                <span class="mailto:hemant.ajax@gmail.com">hemant.ajax@gmail.com</span>
            </li>
            <li class="step">Twitter: <a href="http://twitter.com/hemantajax">@hemantajax</a>
            </li>
            <li class="step">Web Developer, <a href="http://www.hkajax.wordpress.com/blog">My Blog</a>
            </li>
            <li class="step">Creator of UXM Presentation, <a href="http://uxm.herokuapp.com/">Angular JS Presentation</a>
            </li>
        </ul>
    </div>
    <div id="using-filter" class="slide">
        <h1>Using Filter</h1>
        <h2>Within View</h2>
        <pre class="javascript">
  &lt;div&gt;{{ name | uppercase }}&lt;/div&gt;
</pre>
        <h2>From Javascript</h2>
        <pre class="javascript">
angular.module("myApp")
  .controller('DemoController', function($scope, $filter) {
    $scope.name = $filter('uppercase')('Hemant'); // HEMANT
  });
</pre>

        <h2>Filter With Argument</h2>
        <pre class="javascript shrink">
<!-- Displays: 123.46 -->
{{ 123.456789 | number:2 }}
</pre>

    </div>
    <div id="single-value-filters" class="slide">
        <h1>Filters that operates on single values</h1>
        <h2>currency - This filter formats currency values.</h2>
        <pre class="javascript shrink">
&#x3C;!-- 1.2 -&#x3E; $1.20 --&#x3E;
&#x3C;p&#x3E;Price: {{ product.price | currency }}&#x3C;/p&#x3E;
</pre>
        <div class="step">
            <h2>date - This filter formats date values.</h2>
            <pre class="javascript shrink">
// 1409995767615 -&#x3E;  Sep 6, 2014
&#x3C;p&#x3E;Expiry: {{ product.expiry | date }}&#x3C;/p&#x3E;
</pre>
        </div>
        <div class="step">
            <h2>json - This filter generates an object from a JSON string.</h2>
            <pre class="javascript shrink">
// { name: &#x22;hemant&#x22;} -&#x3E; { &#x22;name&#x22;: &#x22;hemant&#x22;}
&#x3C;p&#x3E;{{ user }}&#x3C;/p&#x3E; 
</pre>
        </div>
        <div class="step">
            <h2>number - This filter formats a numeric value.</h2>
            <pre class="javascript shrink">
// 7799111008 -&#x3E; 7,799,111,008
&#x3C;p&#x3E;your Balance: {{ user.balance |  number }}&#x3C;/p&#x3E;
</pre>
        </div>
        <div class="step">
            <h2>uppercase - Format string to uppercase</h2>
            <pre class="javascript shrink">
// hemant -&#x3E; HEMANT
&#x3C;p&#x3E;Name: {{ user.name | uppercase }}&#x3C;/p&#x3E;
</pre>
        </div>
        <div class="step">
            <h2>lowercase - Format string to lowercase</h2>
            <pre class="javascript shrink">
// Hemant -&#x3E; hemant
&#x3C;p&#x3E;Name: {{ user.name | lowercase }}&#x3C;/p&#x3E;
</pre>
        </div>
    </div>

    <div id="collection-filters" class="slide">
        <h1>Filters that operates on collection</h1>
        <h2>
            limitTo - Limiting the Number of Items
        </h2>
        <pre class="javascript">
  &#x3C;tr ng-repeat=&#x22;p in products | limitTo:limitVal&#x22;&#x3E;  &#x3C;/tr&#x3E;
</pre>
        <div class="step">
            <h2>
                filter - Filtering collection based on some key ( string, object, function)
            </h2>
            <ul>
                <li>
                    <h3>Key as string</h3>
                    <pre class="javascript">
&#x3C;p&#x3E;{{ [&#x27;Hemant&#x27;, &#x27;Singh&#x27;, &#x27;Varun&#x27;, &#x27;Vinay&#x27;, &#x27;Ajay&#x27;] | filter:&#x27;n&#x27; }}&#x3C;/p&#x3E;
&#x3C;!-- [&#x22;Hemant&#x22;,&#x22;Singh&#x22;,&#x22;Varun&#x22;,&#x22;Vinay&#x22;] --&#x3E;
</pre>

                </li>
                <li class="step">
                    <h3>key as Object</h3>
                    <pre class="javascript">
&#x3C;p&#x3E;  
  [{
      &#x27;name&#x27;: &#x27;Varun&#x27;,
      &#x27;City&#x27;: &#x27;Hyderabad&#x27;
    }, 
    {
      &#x27;name&#x27;: &#x27;Hemant&#x27;,
      &#x27;City&#x27;: &#x27;Blr&#x27;
  }] | filter: { &#x27;name&#x27;: &#x27;Hemant&#x27;}
&#x3C;/p&#x3E;
&#x3C;!-- [{&#x22;name&#x22;:&#x22;Hemant&#x22;,&#x22;City&#x22;:&#x22;Blr&#x22;}] --&#x3E;
</pre>

                </li>
                <li class="step">
                    <h3>key as function</h3>
                    <pre class="javascript">
{{ [&#x27;Hemant&#x27;, &#x27;likes&#x27;, &#x27;to&#x27;, &#x27;travel&#x27;] | filter:isCapitalized }}
&#x3C;!-- [&#x22;Hemant&#x22;] --&#x3E;

$scope.isCapitalized = function(str) { 
  return str[0] == str[0].toUpperCase(); 
}
</pre>
                </li>
            </ul>
        </div>

        <div class="step">
            <h2>orderBy - Sorting items (asc/desc)</h2>
            <pre class="javascript">
// Ascending
&#x3C;tr ng-repeat=&#x22;p in products | orderBy:&#x27;price&#x27;&#x22;&#x3E;  &#x3C;/tr&#x3E;

// Descending
&#x3C;tr ng-repeat=&#x22;p in products | orderBy:&#x27;-price&#x27;&#x22;&#x3E;  &#x3C;/tr&#x3E;    
  </pre>
        </div>
    </div>


    <div id="chaining-filters" class="slide">
        <h1>Chaining Filters</h1>
        <pre class="javascript shrink">
  &#x3C;tr ng-repeat=&#x22;p in products | orderBy:[myCustomSorter, &#x27;-price&#x27;] | limitTo: 5&#x22;&#x3E;  &#x3C;/tr&#x3E;
</pre>
    </div>

    <div id="custom-filters" class="slide">
        <h1>Creating Custom Filters</h1>
        <p>Create a filter that display `New` if item created in last 2 days <a href="http://embed.plnkr.co/Sv3QpzvGWqoUTqQgoyGZ/preview" target="_blank">Demo</a> 
</p>
<pre class="javascript shrink">
angular.module("myApp").filter("showNewLabel", function(){
  return function(input, option){
    var inputDate = new Date(input).getDate(),
        currentDate = new Date().getDate();
    
    return currentDate - inputDate >= 2 ? true : false; 
 };
});
</pre>

<pre class="javascript">
  &#x3C;span ng-show=&#x22;product.expiry | showNewLabel&#x22;&#x3E;New&#x3C;/span&#x3E;
</pre>
    </div>

    <div id="creating-collection-filter" class="slide">
        <h1>Creating Collection Filter</h1>
      <p>Create a filter that skip some user in users collecion <a href="http://embed.plnkr.co/fNeCAfsz0kwlm4ujfF9n/preview" target="_blank">Demo</a>
</p>
<pre class="javascript">
angular.module("myApp").filter("skip", function(){
  return function(input, option){
    return option ? input.slice(option) : input;
  }
})</pre>


<pre class="javascript">
&#x3C;li ng-repeat=&#x22;user in users | skip:2&#x22;&#x3E;
  &#x3C;p&#x3E;{{ user.name | uppercase }}&#x3C;/p&#x3E;
&#x3C;/li&#x3E;
 </pre>


    </div>

    <div id="reuse-filter" class="slide">
        <h1>Reuse existing Filter</h1>
        <p>Create a filter that skip some user anf take only few users in users collecion <a href="http://embed.plnkr.co/Ynmv0zePGy2RIo6FMk4Y/preview" target="_blank">Demo</a></p>
<pre class="javascript">
 angular.module("myApp").filter("skip", function(){
  return function(input, option){
    return option ? input.slice(option) : input;
  }
}).filter("take", function($filter){
  return function(input, skipCount, takeCount){
    var skippedData = $filter("skip")(input, skipCount);
    return $filter("limitTo")(skippedData, takeCount);
  };
}); 
</pre>
<pre class="html">
 &#x3C;li ng-repeat=&#x22;user in users | take:2:5&#x22;&#x3E;
  &#x3C;p&#x3E;{{ user.name | uppercase }}&#x3C;/p&#x3E;
&#x3C;/li&#x3E;   
</pre>
    </div>

    <!-- LAST SLIDE -->
    <div id="the_end" class="slide">
        <h1>The End</h1>
        <p>Thanks for listening!</p>
        <p>Any questions?</p>
        <div class="step">
            <p>Check out the presentation again at <a href="http://uxm.herokuapp.comannarbor/">http://uxm.herokuapp.com</a>
            </p>
            <p>Contact:</p>
            <ul>
                <li class="mailto:hemant.ajax@gmail.com">hemant.ajax@gmail.com</li>
                <li><a href="https://twitter.com/hemantajax">@hemantajax</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
